<h3>Search For Your Gamertag</h3>
<div>
  <input id="gamertag-input" type="text" value="cougar chas3r"> <input type="radio" name="platform" value="1" checked> XBL <input type="radio" name="platform" value="2"> PSN
  <button id="gamertag-search">Search</button>
</div>

<div id="chars" style="display: none">
  <div id="charbox"></div>
</div>
